.tSize5 {
    font-size: 5em;
}

.tSize3 {
    font-size: 3em;
}

.tSize1-5 {
    font-size: 1.5em;
}

.tSize-6 {
    font-size: .6em;
}

.tAllign-Left {
    text-align: left;
}

.tNormalFont {
    font-family: 'Zen Maru Gothic', fulbo-argenta, Verdana, sans-serif;
    font-size: large;
    font-weight: 500;
}