@font-face { font-family: fulbo-argenta; src: url('fonts/fulbo-argenta.otf'); }

:root{
	--mDarkGrey: #3A3A3A;
	--mPink: #FFE8E8;
	--mDarkPink: #ffcaca;
	--mTeal: #A3EDFF;
	--mDarkTeal: #AEB2FF;
	--mGreen: #99FFE2;
	--mDarkGreen: #66E571;
	--mOrange: #FFDDA3;
	--mDarkOrange: #FFB1C5;
}

body {
	background-color: var(--mTeal);

	color: var(--mDarkGrey);
	font-family: fulbo-argenta, sans-serif;
	font-size: 1em;
}

/*overrides*/

/*classes*/
	.mainBlock {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		max-width: 800px;
	}

	.titleBlock {
		margin-top: 18em;
	}

	.sButton:hover {
		animation-name: bOverlayIn;
		animation-duration: .2s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	.sButton:not(:hover) {
		animation-name: bOverlayOut;
		animation-duration: .2s;
		animation-iteration-count: 1;
		animation-direction: forwards;
	}

	.titleText {
		color: var(--mPink);
		font-size: 8em;

		position: absolute;
		height: 150px;
		width: fit-content;

		margin: auto;
		cursor: pointer;

		transform: translate(3%,-5%);
	}

	.titleUnderlay {
		color: var(--mDarkPink);
		font-size: 8em;
		height: 150px;
		width: fit-content;
		margin: auto;
		cursor: pointer;
	}

	.subtitleText {
		font-size: 2em;
	}

	.stuffText {
		color: var(--mGreen);
		position: absolute;
		font-size: 3em;
		cursor: pointer;
		
		transform: translate(3%,-5%);
	}

	.stuffUnderlay {
		color: var(--mDarkGreen);
		font-size: 3em;
		cursor: pointer;
	}

	.toolsText {
		color: var(--mOrange);
		position: absolute;
		font-size: 3em;
		cursor: pointer;
		
		transform: translate(3%,-5%);
	}

	.toolsUnderlay {
		color: var(--mDarkOrange);
		font-size: 3em;
		cursor: pointer;
	}

	.socialBotLine {
		background-color: var(--mPink);

		height: 3em;

		position: fixed;
		bottom: -1em;
		left: 50%;

		transform: translate(-50%,0);

		padding: 1em;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		box-shadow: -6px 6px 2px var(--mDarkPink);
	}

	.socialContainer {
		display: inline-block;
	}

	.logoLinkImg {	
		height: 32px;
		width: 32px;
		filter: drop-shadow(-3px 3px var(--mDarkGrey));
	}

/*animations*/
	@keyframes bOverlayIn {
		from {transform: translate(3%,-5%);}
		to {transform: translate(0%,0%);}
	}

	@keyframes bOverlayOut {
		from {transform: translate(0%,0%);}
		to {transform: translate(3%,-5%);}
	}