@font-face { font-family: fulbo-argenta; src: url('fonts/fulbo-argenta.otf'); }

:root {
	--bgCol:#FFE8E8;
	--textCol:#3A3A3A;
	--btnCol:#A3EDFF;
}

html {
	color: var(--textCol);
	font-family: fulbo-argenta;
	font-size: 1em;
	text-align: center;

	width: fit-content;
	height: fit-content;
	margin: auto;

	background-color: var(--bgCol);
}

/*overrides*/
	a{
		color: var(--textCol);
		text-decoration: none;
	}

/*classes*/
	.button {
		background-color: var(--btnCol) ;
		font-size: 2.5em;
		
		padding: .25em;
		border-radius: 1.5em;

		width: fit-content;

		transition: transform .2s ease-out, border-radius .2s ease-out;
	}

	.button:hover {
		transform: scale(1.1);
		border-radius: 1em;
	}

	.button:active {
		transform: scale(.9);
		border-radius: 2em;
	}

	.title {
		height: fit-content;
		font-size: 6em;
	}

	.subtitle {
		font-size: 2em;
		float: top;
	}