@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

:root {
    --bgCol: #f9f1e6;
    --textCol: #523030;
    --linkCol: #e88000;
}

/*ids*/
    #titleLine {
        background-color: var(--textCol);
        border-radius: 25px; 
        height: 2px; 
        max-width: 250px;
        margin: auto; 
        margin-top: 15px;
    }

/*overrides*/
    body {
        background-color: var(--bgCol);

        color: var(--textCol);
        
        font-family: 'Zen Maru Gothic', Verdana, sans-serif;
        max-width: 1200px;
        margin: auto;
        text-align: center;
    }

    .header {
        font-size: 50px; 
        margin-top: 25px; 
        letter-spacing: 5px;
    }

/*generic*/
    .displayNone {
        display: none;
    }

    .opacity0 {
        opacity: 0;
    }

    .flexCenter {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-items: center;
        align-items: start;
        margin: auto;
        row-gap: 30px;
    }

/*project*/
    .projImage {
        margin: auto;
        border-radius: 15px;
        height: 200px;
    }

    .projDescription {
        font-size: medium;
        width: 90%;
        margin: auto;
    }

    .projTitle {
        font-size: large;
        font-weight: bold;
        color: var(--linkCol);
    }

    .link {
        text-decoration: none;
        color: var(--linkCol);
        font-weight: bold;
    }

    .linkUnderlay {
        width: 0;
        height: 2px;
        margin: auto;
        background-color: var(--linkCol);
        border-radius: 15px;
        opacity: 0;
    }

/*category*/
    .categoryButton {
        cursor: pointer;
        user-select: none;
    }

    .categoryTextUnderlay {
        width: 0;
        height: 2px;
        margin: auto;
        background-color: var(--textCol);
        border-radius: 15px;
        opacity: 0;
    }

    .categoryText:hover {
        animation-name: cBtnEnter;
        animation-duration: .2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .categoryText:not(:hover) {
        animation-name: cBtnExit;
        animation-duration: .2s;
        animation-iteration-count: 1;
    }

.icon {
    height: 30px;
    filter: brightness(0) saturate(100%) invert(20%) sepia(7%) saturate(2881%) hue-rotate(314deg) brightness(90%) contrast(89%);
}

/*animations*/
    @keyframes cBtnEnter {
        from {
            letter-spacing: 0px;
        }
        to {
            letter-spacing: 5px;
        }
    }

    @keyframes cBtnExit {
        from {
            letter-spacing: 5px;
        }
        to {
            letter-spacing: 0px;
        }
    }
/**/