@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

body {
	background-color: #f9f1e6;

	color: #523030;
    
	font-family: 'Zen Maru Gothic', Verdana, sans-serif;
    margin: auto;
    text-align: center;
}

#titleLine {
    background-color: #523030;
    border-radius: 25px; 
    height: 2px; 
    max-width: 250px;
    margin: auto; 
    margin-top: 15px;
}

.header {
    font-size: 70px; 
    margin-top: 100px; 
    letter-spacing: 10px;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon {
    height: 32px;
    width: 32px;
    filter: brightness(0) saturate(100%) invert(20%) sepia(7%) saturate(2881%) hue-rotate(314deg) brightness(90%) contrast(89%);
}

.categoryButton {
    cursor: pointer;
}

.categoryButton:hover {
    animation-name: cBtnEnter;
    animation-duration: .2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.categoryButton:not(:hover) {
    animation-name: cBtnExit;
    animation-duration: .2s;
	animation-iteration-count: 1;
}

@keyframes cBtnEnter {
    from {letter-spacing: 0px;}
    to {letter-spacing: 5px;}
}

@keyframes cBtnExit {
    from {letter-spacing: 5px;}
    to {letter-spacing: 0px;}
}