@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

:root {
    --bgCol: #f9f1e6;
    --textCol: #523030;
    --linkCol: #e88000;
}

/*ids*/
    #titleLine {
        background-color: var(--textCol);
        border-radius: 25px; 
        height: 2px; 
        max-width: 225px;
        margin: auto; 
    }

/*overrides*/
    body {
        background-color: var(--bgCol);

        color: var(--textCol);
        
        font-family: 'Zen Maru Gothic', Verdana, sans-serif;
        max-width: 1100px;
        margin: auto;
        text-align: center;
    }

    .header {
        font-size: 50px; 
        letter-spacing: 5px;
    }

/*generic*/
    .displayNone {
        display: none;
    }

    .opacity0 {
        opacity: 0;
    }

    .flexCenter {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .grid {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(min( 250px, 100% ), 1fr));
        grid-template-rows: repeat(max-content);
        row-gap: 30px;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .roundedCorners {
        border-radius: 15px;
    }

/*jobs*/
    .jobTitle {
        font-size: xx-large;
    }

/*project*/
    .projImage {
        margin: auto;
        border-radius: 15px;
        height: 200px;
        width: 252px;

        transition: .5s transform;
    }

    .projImage:hover {
        transform: scale(1.05);
    }

    .projDescription {
        font-size: medium;
        width: 90%;
        margin: auto;
    }

    .projTitle {
        font-size: large;
        margin-top: 5px;
    }

    .link {
        text-decoration: none;
        color: var(--linkCol);
        font-weight: bold;
    }

    .linkUnderlay {
        width: 50%;
        height: 10px;
        margin: auto;
        background-color: var(--linkCol);
        border-radius: 15px;
    }

/*category*/
    .subCategoryTitle {
        font-size: x-large;
        letter-spacing: 3px;
        width: fit-content;
        margin: auto;
        margin-bottom: 25px;
    }

    .subCategoryTitleUnderlay {
        position: relative;
        margin: auto;
        height: 2px;
        top: -3px;
        background-color: var(--textCol);
        border-radius: 15px;
    }

    .categoryButton {
        cursor: pointer;
        user-select: none;
    }

    .categoryTextUnderlay {
        position: relative;
        width: 0;
        height: 2px;
        margin: auto;
        top:-21px;
        bottom: auto;
        background-color: var(--textCol);
        border-radius: 15px;
    }

    .categoryText {
        height: 70px;
        line-height: 70px;
    }

    .categoryText:hover {
        animation-name: cBtnEnter;
        animation-duration: .2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .categoryText:not(:hover) {
        animation-name: cBtnExit;
        animation-duration: .2s;
        animation-iteration-count: 1;
    }

    .icon {
       height: 30px;
        filter: brightness(0) saturate(100%) invert(20%) sepia(7%) saturate(2881%) hue-rotate(314deg) brightness(90%) contrast(89%);
    }

/*animations*/
    @keyframes cBtnEnter {
        from {
            letter-spacing: 0px;
        }
        to {
            letter-spacing: 5px;
        }
    }

    @keyframes cBtnExit {
        from {
            letter-spacing: 5px;
        }
        to {
            letter-spacing: 0px;
        }
    }
/**/